<div mat-dialog-title>
    <h1>Alumni Form</h1>
</div>

<Form [formGroup]="dataForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nama Lengkap</mat-label>
                <input matInput placeholder="" formControlName="namaLengkap">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nama Panggilan</mat-label>
                <input matInput placeholder="" formControlName="namaPanggilan">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Jenis Kelamin</mat-label>
                <mat-select formControlName="jenisKelamin">
                    <mat-option *ngFor="let val of jenisKelamin" [value]="val">
                        {{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Agama</mat-label>
                <mat-select formControlName="agama">
                    <mat-option *ngFor="let val of agama" [value]="val">
                        {{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="ex. john@gmail.com" formControlName="email">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Tempat Lahir</mat-label>
                <input matInput placeholder="" formControlName="tempatLahir">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Tanggal Lahir</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Alamat</mat-label>
                <textarea matInput placeholder="" formControlName="alamat"></textarea>
            </mat-form-field>
        </div>
        
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Fakultas</mat-label>
                <mat-select formControlName="fakultas">
                    <mat-option *ngFor="let val of fakultas" [value]="val">
                        {{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Tahun Masuk</mat-label>
                <input matInput type="number" placeholder="" formControlName="tahunMasuk">
            </mat-form-field>
        </div>
        
        <div class="row">
            <h3>Identitas Pekerjaan</h3>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Sektor Usaha</mat-label>
                <mat-select formControlName="sektorUsaha">
                    <mat-option *ngFor="let val of usaha" [value]="val">
                        {{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Jabatan</mat-label>
                <input matInput placeholder="" formControlName="jabatan">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nama Kantor</mat-label>
                <input matInput placeholder="" formControlName="namaKantor">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Alamat Kantor</mat-label>
                <textarea matInput placeholder="" formControlName="alamatKantor"></textarea>
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Add'}}</button>
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    </div>
</Form>